[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = {git = "https://github.com/huggingface/transformers"}
roboflow = "*"
supervision = "*"
tqdm = "*"
datasets = "*"
detection = {file = ".", editable = true}
scikit-learn = "*"
scikit-image = "*"
albumentations = "*"

[dev-packages]
jupyterlab = "*"
ipywidgets = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
